body{
    background-color: #dddddd;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}

#footer {
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial, serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-descripte{
    font-size: 12px;
    font-width: normal;
    color: #999999;
}
.img-circle{
    width: 30px;
    height: 30px;
}
.img-avatar{
    margin-top:9px;
}
.list-group{
    background-color: #2e6da4;
    color: #fff;
}